/* ===============================
   DONATE - INFO
================================= */

.section-donate-info {
  padding: 80px 0 120px 0;
  background: #ffffff;
  text-align: center;
}

.section-donate-info p {
  margin-bottom: 20px;
  font-size: 15px;
  color: #333;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
