/* =====================================
   HERO SECTION
===================================== */

.section-hero {
  padding: 120px 0;
  margin-top: 100px;
  background: #f2f3f5;
}

.hero-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

/* =====================================
   TEXT SLIDER
===================================== */

.hero-content {
  width: 50%;
  text-align: left;
}

.hero-text-swiper {
  width: 100%;
}

.hero-slide h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: 1.15;
  margin-bottom: 18px;
  color: #111;
}

.hero-slide h1 span {
  color: #48BEDA;
}

.hero-subheading {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 18px;
  color: #222;
}

.hero-slide p {
  font-size: 15px;
  color: #444;
  max-width: 500px;
  line-height: 1.7;
  margin-bottom: 28px;
}

/* =====================================
   BUTTON
===================================== */

.hero-btn {
  display: inline-block;
  background: #48BEDA;
  color: #ffffff;
  padding: 12px 28px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}

.hero-btn:hover {
  background: #2ea3c2;
}


/* =====================================
   HERO PAGINATION DOTS
===================================== */

.hero-text-swiper .swiper-pagination {
  position: relative !important;
  margin-top: 30px;
  text-align: center; /*alignment*/
}

.hero-text-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #d0d0d0;
  border-radius: 50%;
  opacity: 1;
  margin: 0 6px !important;
  transition: 0.3s ease;
}

.hero-text-swiper .swiper-pagination-bullet-active {
  background: #48BEDA;
  transform: scale(1.2);
}


/* Remove blue click highlight */
.hero-prev:focus,
.hero-next:focus,
.hero-prev:active,
.hero-next:active {
  outline: none;
  box-shadow: none;
  background: #ffffff;
  color: inherit;
}

/* Hover effect */
.hero-prev:hover,
.hero-next:hover {
  background: #48BEDA;
  color: #ffffff;
  border-color: #48BEDA;
}

/* =====================================
   RIGHT IMAGE
===================================== */

.hero-image {
  width: 50%;
}

.hero-image img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 22px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.08);
}

/* =====================================
   RESPONSIVE
===================================== */

@media (max-width: 992px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-content,
  .hero-image {
    width: 100%;
  }

  .hero-slide h1 {
    font-size: 38px;
  }

  .hero-subheading {
    font-size: 18px;
  }

  .hero-arrows {
    justify-content: center;
  }
}
