/* =====================================
   HERO SECTION
===================================== */

.section-hero {
  /* margin-top: 100px; */
  overflow: hidden;
}

.hero-swiper-full {
  width: 100%;
}

.hero-slide-bg {
  width: 100%;
  min-height: 620px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.hero-slide-content {
  position: relative;
  z-index: 1;
  padding: 100px 60px;
  width: 42%;
}

/* =====================================
   TEXT SLIDER
===================================== */

.hero-content {
  width: 55%;
  text-align: left;
}

.hero-text-swiper {
  width: 100%;
}

.hero-slide-content h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: 1.15;
  margin-bottom: 18px;
  color: #ffffff;
}

.hero-slide-content h1 span {
  color: #48BEDA;
}

.hero-subheading {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 18px;
  color: #ffffff;
}

.hero-slide-content p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.88);
  max-width: 500px;
  line-height: 1.7;
  margin-bottom: 28px;
}

/* =====================================
   BUTTON
===================================== */

.hero-btn {
  display: inline-block;
  background: #48BEDA;
  color: #ffffff;
  padding: 12px 28px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}

.hero-btn:hover {
  background: #2ea3c2;
}


/* =====================================
   HERO PAGINATION DOTS
===================================== */

.hero-swiper-full .swiper-pagination {
  position: absolute !important;
  bottom: 30px !important;
  text-align: center;
  padding-left: 0;
  z-index: 10;
}

.hero-swiper-full .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  opacity: 1;
  margin: 0 6px !important;
  transition: 0.3s ease;
}

.hero-swiper-full .swiper-pagination-bullet-active {
  background: #48BEDA;
  transform: scale(1.2);
}


/* Remove blue click highlight */
.hero-prev:focus,
.hero-next:focus,
.hero-prev:active,
.hero-next:active {
  outline: none;
  box-shadow: none;
  background: #ffffff;
  color: inherit;
}

/* Hover effect */
.hero-prev:hover,
.hero-next:hover {
  background: #48BEDA;
  color: #ffffff;
  border-color: #48BEDA;
}



/* =====================================
   RESPONSIVE
===================================== */

@media (max-width: 992px) {
  .hero-slide-content {
    width: 90%;
    padding: 80px 30px;
  }

  .hero-slide-content h1 {
    font-size: 38px;
  }

  .hero-subheading {
    font-size: 18px;
  }

  .hero-swiper-full .swiper-pagination {
    padding-left: 0;
  }
}
