/* =====================================
   HERO SECTION
===================================== */

.section-hero {
  position: relative;
  margin-top: 100px;
  overflow: hidden;
  min-height: 560px;
  display: flex;
  align-items: center;
}

.hero-container {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 60px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* =====================================
   TEXT SLIDER
===================================== */

.hero-content {
  width: 55%;
  text-align: left;
}

.hero-text-swiper {
  width: 100%;
}

.hero-slide h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: 1.15;
  margin-bottom: 18px;
  color: #ffffff;
}

.hero-slide h1 span {
  color: #48BEDA;
}

.hero-subheading {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 18px;
  color: #ffffff;
}

.hero-slide p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.88);
  max-width: 500px;
  line-height: 1.7;
  margin-bottom: 28px;
}

/* =====================================
   BUTTON
===================================== */

.hero-btn {
  display: inline-block;
  background: #48BEDA;
  color: #ffffff;
  padding: 12px 28px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}

.hero-btn:hover {
  background: #2ea3c2;
}


/* =====================================
   HERO PAGINATION DOTS
===================================== */

.hero-text-swiper .swiper-pagination {
  position: relative !important;
  margin-top: 30px;
  text-align: center; /*alignment*/
}

.hero-text-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  opacity: 1;
  margin: 0 6px !important;
  transition: 0.3s ease;
}

.hero-text-swiper .swiper-pagination-bullet-active {
  background: #48BEDA;
  transform: scale(1.2);
}


/* Remove blue click highlight */
.hero-prev:focus,
.hero-next:focus,
.hero-prev:active,
.hero-next:active {
  outline: none;
  box-shadow: none;
  background: #ffffff;
  color: inherit;
}

/* Hover effect */
.hero-prev:hover,
.hero-next:hover {
  background: #48BEDA;
  color: #ffffff;
  border-color: #48BEDA;
}

/* =====================================
   RIGHT IMAGE
===================================== */

.hero-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero-image::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left top;
  border-radius: 0;
  box-shadow: none;
}

/* =====================================
   RESPONSIVE
===================================== */

@media (max-width: 992px) {
  .hero-container {
    padding: 80px 30px;
  }

  .hero-content {
    width: 90%;
  }

  .hero-slide h1 {
    font-size: 38px;
  }

  .hero-subheading {
    font-size: 18px;
  }
}
