/*  */
.section-wwd-hero {
  position: relative;
  height: 420px;
  background-color: #e2e4e9; /* solid background color */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Container */
.wwd-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

/* Remove the overlay */
.section-wwd-hero::after {
  content: none;
}

  /* Content */
  .wwd-hero-content {
    position: relative;
    z-index: 2;
    max-width: 900px;
    padding: 0 20px;
  }
  
  .section-wwd-hero h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 1.2;
  }
  
  .section-wwd-hero h1 span {
    color: #48BEDA;
  }
  
  .section-wwd-hero p {
    margin-top: 18px;
    font-size: 17px;
    color: #333;
  }
  